<?xml version="1.0"?>
<configuration>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
  <!--Cadena de Conexion Produccion*/-->
  <connectionStrings>
    <add name="BD_SeguridadInformaticaEntities"
         connectionString="metadata=res://*/EntityModel_SeguridadInformatica.csdl|res://*/EntityModel_SeguridadInformatica.ssdl|res://*/EntityModel_SeguridadInformatica.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=XXXXXXXXXXX;initial catalog=BD_SeguridadInformatica;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;"
		 providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>
